<html>
<div class="container" >   
  <div class="row align-items-center justify-content-center">

  <form [formGroup]="loginForm" (submit)="login()" #f="ngForm">
        <div class="container" dir="rtl" lang="ar">
          <label for="uname"><b>ب.ت.و</b></label>
          <input type="text" placeholder="ادخال بطاقة التعريف الوطنية"  
          id="username" name="username" formControlName="username"
           [(ngModel)]="credentials.username"
          pattern="[0-9]{8}" ngModel required maxlength="8">
  
          <label for="psw"><b>كلمةالعبور</b></label>
          <input type="password" placeholder="ادخال كلمةالعبور " id="password" name="password" 
          formControlName="password" [(ngModel)]="credentials.password" ngModel required >
  
          <button type="submit" [disabled]="f.invalid">الدخول</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
  
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">الغاء</button>
          <span class="psw">تغيير <a href="change">كلمة العبور</a></span>
        </div>
      </form>


</div>
  </div>

  </html>
  